.tools {
  font-family: Monaco;
  font-weight: bolder;
  font-size: 18px;
}

.card-text {
  font-size: 18px;
}

.card-link {
  font-family: Monaco;
  font-weight: bolder;
  font-size: 18px;
}

h2.card-header {
  background: rgba(255, 255, 255, 0.25);
  
}