.card {
    background-color: rgb(255, 240, 236);
    border: 1px solid rgb(255, 106, 106);
    color: #333;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    color: rgb(255, 106, 106);
    font-size: x-large;
}

.text-muted {
    font-family: Monaco;
    font-style: italic;
}