body, p {
  font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #3333cc;
    line-height: 26px;
    background: #ff9999;
    font-style: italic;
}

h1 {
  color: #3333cc;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 200;
  font-style: italic;
  font-size: 72pt;
}

h2 {
  color: #3333cc;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 200;
  font-style: italic;
  font-size: 28pt;
}

a:link, a:visited, a:active {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #3333cc;
  font-weight: 200;
  font-style: italic;
}

a:hover {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #ffffff;
  font-weight: 200;
  font-style: italic;
  text-decoration: none;
}

.card {
  background: #ff9999;
  border: 1px solid #3333cc;
}

.card-header {
  border-bottom: 1px solid #3333cc;
}

.card-footer {
  border-top: 1px solid #3333cc;
}