html {
  position:relative;
  min-height:100%;
}

body {
  font-family:'Montserrat', sans-serif;
  font-size:120%;
  color:#000000;
  background:white;
  padding-bottom:20px;
}

.intro {
  font-size:1000%;
  font-family:'didot';
  font-style:italic;
}

h1 {
  color:#000000;
  font-style:normal;
  font-size:200%;
}

h2 {
  color:#000000;
  font-size:120%;
}

a:link, a:visited, a:active {
  color:black;
  font-style:normal;
  text-decoration:none
}

a:hover {
  color:black;
  background-color:rgb(255, 255, 121);
  font-style:normal;
  text-decoration:none
}

.card {
  background:rgba(255, 255, 255, 0.25);
  border:1px solid #ffffff;
}

.card-header {
  border-bottom:1px solid #ffffff;
}

.card-footer {
  border-top:1px solid #ffffff;
}

.btn {
  background-color:#ff4747;
  color:#ffffff;
  font-style:normal;
  font-size:180%;
}

.btn:hover {
  background-color:#e90000;
  color:white;
  transition:0.3s;
}

.form-control {
  font-family:Monaco;
  font-size:95%;
}

#aboutme {
  max-width:900px;
}

#kara-img {
  opacity:0.85;
}
