html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  color: #3333cc;
  line-height: 26px;
  background: #ff9999;
  font-style: italic;
  padding-bottom: 20px;
}

p {
  font-size: 24px;
}

h1 {
  color: #3333cc;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 200;
  font-style: italic;
  font-size: 40pt;
}

h2 {
  color: #3333cc;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 200;
  font-style: italic;
  font-size: 18pt;
}

a:link,
a:visited,
a:active {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #fff;
  font-weight: 200;
  font-style: italic;
}

a:hover {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #3333cc;
  font-weight: 200;
  font-style: italic;
  text-decoration: none;
  transition: 0.3s;
}

.card {
  background: #ff9999;
  border: 1px solid #3333cc;
}

.card-header {
  border-bottom: 1px solid #3333cc;
}

.card-footer {
  border-top: 1px solid #3333cc;
}

.btn {
  background-color: #3333cc;
  color: white;
  font-style: italic;
  font-size: 18pt;
}

.btn:hover {
  background-color: #2a2a9d;
  color: white;
  transition: 0.3s;
}

.form-control {
  font-family: Monaco;
  border: 1px solid #3333cc;
}
